[data-testid=metric-container] {
    box-shadow: 0 0 4px #000000;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.3rem;
    color:rgb(0, 0, 0);
}

.sidebar-content {
    color: white !important;
}

[data-testid=stSidebar] {
    font-size:34px;
    color: white inherit;
    font-size: larger;
}