[data-testid=metric-container] {
    box-shadow: 0 0 4px #686664;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 2px #070505;
    padding: 5px;
    border-color: #000000;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    border-color: #000000;
    color-scheme: #000000;
}

.sidebar-content {
    color: white;
}


